@charset "utf-8";
.myColCenterBlock {
  float: none;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.detailBtnDiv {
  width: 168px;
  height: 168px;
  background: url("../images/school/hp.jpg");
  background-size: 100% 100%;
  border-radius: 50%;
}
.detailBtnDiv input {
  filter: alpha(opacity=0);
  opacity: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
