<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ubtms.module.training.dao.TrainingItemMapper" >
  <resultMap id="BaseResultMap" type="ubtms.module.training.entity.TrainingItem" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="item" property="item" jdbcType="TINYINT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="cost" property="cost" jdbcType="INTEGER" />
    <result column="day" property="day" jdbcType="TINYINT" />
    <result column="trainging_id" property="traingingId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, item, content, cost, day, trainging_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="ubtms.module.training.entity.TrainingItemExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from training_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    <if test="limit != null" >
      <if test="offset != null" >
        limit ${offset}, ${limit}
      </if>
      <if test="offset == null" >
        limit ${limit}
      </if>
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from training_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from training_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="ubtms.module.training.entity.TrainingItemExample" >
    delete from training_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="ubtms.module.training.entity.TrainingItem" >
    insert into training_item (id, item, content, 
      cost, day, trainging_id
      )
    values (#{id,jdbcType=INTEGER}, #{item,jdbcType=TINYINT}, #{content,jdbcType=VARCHAR}, 
      #{cost,jdbcType=INTEGER}, #{day,jdbcType=TINYINT}, #{traingingId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="ubtms.module.training.entity.TrainingItem" >
    insert into training_item
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="item != null" >
        item,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="cost != null" >
        cost,
      </if>
      <if test="day != null" >
        day,
      </if>
      <if test="traingingId != null" >
        trainging_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="item != null" >
        #{item,jdbcType=TINYINT},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="cost != null" >
        #{cost,jdbcType=INTEGER},
      </if>
      <if test="day != null" >
        #{day,jdbcType=TINYINT},
      </if>
      <if test="traingingId != null" >
        #{traingingId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="ubtms.module.training.entity.TrainingItemExample" resultType="java.lang.Integer" >
    select count(*) from training_item
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update training_item
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.item != null" >
        item = #{record.item,jdbcType=TINYINT},
      </if>
      <if test="record.content != null" >
        content = #{record.content,jdbcType=VARCHAR},
      </if>
      <if test="record.cost != null" >
        cost = #{record.cost,jdbcType=INTEGER},
      </if>
      <if test="record.day != null" >
        day = #{record.day,jdbcType=TINYINT},
      </if>
      <if test="record.traingingId != null" >
        trainging_id = #{record.traingingId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update training_item
    set id = #{record.id,jdbcType=INTEGER},
      item = #{record.item,jdbcType=TINYINT},
      content = #{record.content,jdbcType=VARCHAR},
      cost = #{record.cost,jdbcType=INTEGER},
      day = #{record.day,jdbcType=TINYINT},
      trainging_id = #{record.traingingId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="ubtms.module.training.entity.TrainingItem" >
    update training_item
    <set >
      <if test="item != null" >
        item = #{item,jdbcType=TINYINT},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="cost != null" >
        cost = #{cost,jdbcType=INTEGER},
      </if>
      <if test="day != null" >
        day = #{day,jdbcType=TINYINT},
      </if>
      <if test="traingingId != null" >
        trainging_id = #{traingingId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ubtms.module.training.entity.TrainingItem" >
    update training_item
    set item = #{item,jdbcType=TINYINT},
      content = #{content,jdbcType=VARCHAR},
      cost = #{cost,jdbcType=INTEGER},
      day = #{day,jdbcType=TINYINT},
      trainging_id = #{traingingId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>